/*****Base style*****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
div.container {
	position: relative;
	background-color: #807877;
	border: 1px solid black;
}
p {
  width: 90%;
  margin: 2px

}
.row {
  width: 100%;
}
div#t1 {
	position: absolute;
	top: 0;
	right: 0;
}

/*******desktop version*******/
@media (min-width: 992px) {
 .col-lg-4,.col-lg-6,.col-lg-12 {
    float: left;
    
 
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
 }
/*******tablet version*******/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4, .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
  
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
